@model VillaWeb.Models.Dto.Villa.VillaUpdateDto

<form asp-action="UpdateVilla" asp-controller="Villa">

    <br />
    <div class="container border p-3">

        <h1 class="text-primary">Update Villa</h1>
        <hr />
    <input hidden asp-for="@Model.VillaId" />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="Name" class="pt-2 control-label " style="font-size:20px;"> </label>
            </div>
            <div class="col-10">
                <input asp-for="@Model.Name" class="form-control"   />
            </div>
            <div class="col-2">
                <label asp-for="Details" class="pt-2 control-label " style="font-size:20px;"></label>
            </div>
            <div class="col-10">
                <textarea asp-for="Details" class="form-control" rows="4" ></textarea>
            </div>

            <div class="col-2">
                <label asp-for="Occupancy" class="pt-2 control-label " style="font-size:20px;"></label>
            </div>
            <div class="col-10">
                <input asp-for="Occupancy" class="form-control"  />
            </div>


            <div class="col-2">
                <label asp-for="Rate" class="pt-2 control-label " style="font-size:20px;"></label>
            </div>
            <div class="col-10">
                <input asp-for="Rate" class="form-control"  />
            </div>

            <div class="col-2">
                <label asp-for="Sqft" class="pt-2 control-label " style="font-size:20px;"></label>
            </div>
            <div class="col-10">
                <input asp-for="Sqft" class="form-control"  />
            </div>
            <div class="col-2">
                <label asp-for="ImageUrl" class="pt-2 control-label " style="font-size:20px;"></label>
            </div>
            <div class="col-10">
                <input asp-for="ImageUrl" class="form-control"  />
            </div>
            <div class="col-2">
                <label asp-for="Amenity" class="pt-2 control-label " style="font-size:20px;"></label>
            </div>
            <div class="col-10">
                <input asp-for="Amenity" class="form-control"  />
            </div>

            <div class="col-5 offset-2">
                <a asp-action="IndexVilla" class="btn btn-primary form-control">Back To List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Update" class="btn btn-success form-control" />
            </div>
        </div>

    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}